.filter-container{
    display: flex;
    flex-direction: column;

}

.image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-bottom: 16px;
    object-fit: cover;
    background-size: cover;
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
    
  }

  .mat-icon{
    cursor: pointer;
  }

