/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(240, 240, 240);}


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.center-text{
    text-align: center;
    width: 100%;
}



.mat-divider{
    margin-left: 20px!important;
    margin-right: 20px!important;
}

.bold{
    font-weight: bold;
}

.border{
    border: 2px solid rgb(250, 208, 23);
    border-radius: 5px;
    padding: 10px;
}
